body{
	background-color:black;
	
}
main{
	background-color:#FF8900;
	height:390px;
	border-radius:30px;
}
header{
	background-color:#CB5F00;
	height:30px;
	padding:20;
	box-shadow: 0px 0px 60px black;
	border-radius:30px;
}
a{
	color:#ffffff;
	font-family:cursive;
	text-decoration:none;
	
}
article{
	background-color:#FF8900;
	height:300px;
		border-radius:30px;
}
img{
	height:269px;
	border-radius:30px;
}
h1{
	background-color:#CB5F00;	
	padding:20;
	box-shadow: 0px 0px 60px black;
	border-radius:5px;
	color:#ffffff;
	font-family:cursive;
}
footer{
	background-color:#403D3B;
	height:200;
	border-radius:50px;
}
.a1{
	background-color:#403D3B;	
	padding:20;
	box-shadow: 0px 0px 60px black;
	border-radius:5px;
}
.a2{
	height:28px;
}
p{
	color:#ffffff;
	font-family:cursive;
}
th{
	border:2px solid black;
	color:#FFFFFF;
}	
table{
	border:2px solid #B22222;
	background:#FF8C00;
	width:80%;
}
td{
	border:2px solid black;
	color:#FFFFFF; 
}