.video1{
	width:45%;
	height:315;
	float:left;
	box-sizing:border-box:
}
.video3{
	width:45%;
	height:315;
	float:left;
	box-sizing:border-box:
}
.video2{
	width:45%;
	height:315;
	float:left;
	box-sizing:border-box:
}
.video4{
	width:45%;
	height:315;
	float:left;
	box-sizing:border-box:
}
audio{
	height:100;
	box-sizing:border-box:
}
